In [1]:
import pandas as pd

# 1. What is the average 'age' of those who use each web browser type?

In [5]:
airbnb_testUsers = pd.read_csv("/Users/julianetess/Documents/DSO104C - Data Wrangling/Lesson2-Data Transformations/Joins/airbnb_test_users.csv")

In [10]:
testUsers2 = airbnb_testUsers.groupby('first_browser')['age'].mean()

In [12]:
testUsers2

first_browser
-unknown-             41.526894
AOL Explorer          60.000000
Android Browser       42.822148
Apple Mail            26.750000
BlackBerry Browser    34.600000
Chrome                34.591678
Chrome Mobile         45.199058
Chromium              28.833333
CometBird             30.000000
Firefox               37.748143
IBrowse               51.000000
IE                    42.463107
IE Mobile             32.312500
IceWeasel             18.000000
Iron                  35.200000
Maxthon               31.000000
Mobile Firefox        31.800000
Mobile Safari         35.098486
Nintendo Browser            NaN
Opera                 38.444444
Opera Mini                  NaN
Opera Mobile          37.000000
Pale Moon             37.000000
Safari                36.416121
SeaMonkey                   NaN
Silk                  38.120000
SiteKiosk             57.000000
Sogou Explorer        28.000000
UC Browser            28.000000
Yandex.Browser        38.500000
wOSBrowser                  NaN
Name: age, dtype: float64

    # The average age ranges between the oldest at 60.0 years (using AOL Explorer) and the youngest at 18.0 (using IceWeasel); four browsers did not have age information included.

# 2. What is the total 'signup_flow' for each device?

In [15]:
testUsers3 = airbnb_testUsers.groupby('first_device_type')['signup_flow'].sum()

In [29]:
testUsers3

first_device_type
Android Phone          90521
Android Tablet          5969
Desktop (Other)           50
Mac Desktop             5736
Other/Unknown           4826
SmartPhone (Other)         0
Windows Desktop         3866
iPad                   28900
iPhone                345343
Name: signup_flow, dtype: int64

    # The largest signup_flow was with iPhone and the smallest was with SmartPhone(Other)

# 3. Add the 'country' information to the 'airbnb_test_users' dataset

In [17]:
airbnb_sampleSub = pd.read_csv("/Users/julianetess/Documents/DSO104C - Data Wrangling/Lesson2-Data Transformations/Joins/airbnb_sample_submission.csv")

In [18]:
testUsers4 = pd.merge(airbnb_testUsers, airbnb_sampleSub)

In [23]:
testUsers4.head(3)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country
0,5uwns89zht,7/1/14,2.010000e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
1,jtl0dijy2j,7/1/14,2.010000e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
2,xx0ulgorjt,7/1/14,2.010000e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF

# 4. Add additional users to the test file from the 'airbnb_users' dataset

In [25]:
testUsers5 = pd.read_csv("/Users/julianetess/Documents/DSO104C - Data Wrangling/Lesson2-Data Transformations/Joins/airbnb_users.csv")

In [32]:
testUsers5.head(3)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country
0,gxn3p5htnn,6/28/10,2.010000e+13,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,5/25/11,2.010000e+13,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,9/28/10,2.010000e+13,8/2/10,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US

In [27]:
airbnb_testUsers2 = pd.concat([testUsers4, testUsers5])

In [33]:
airbnb_testUsers2.head(3)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country
0,5uwns89zht,7/1/14,2.010000e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
1,jtl0dijy2j,7/1/14,2.010000e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
2,xx0ulgorjt,7/1/14,2.010000e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF